body {
   
    animation: colorchange 100s; /* animation-name followed by duration in seconds*/
       /* you could also use milliseconds (ms) or something like 2.5s */
   
 }

  @keyframes colorchange
 
  {
    0%  {background: rgb(1, 233, 250);}
    5%  {background: rgb(0, 255, 213);}
    10% {background: rgb(1, 233, 250);}
    15%  {background: rgb(0, 255, 213);}
    20%  {background: rgb(1, 233, 250);}
    25%  {background: rgb(0, 255, 213);}
    30% {background: rgb(1, 233, 250);}
    35%  {background: rgb(0, 255, 213);}
    40%  {background: rgb(1, 233, 250);}
    45%  {background: rgb(0, 255, 213);}
    50% {background: rgb(1, 233, 250);}
    55%  {background: rgb(0, 255, 213);}
    60%  {background: rgb(1, 233, 250);}
    65%  {background: rgb(0, 255, 213);}
    70% {background: rgb(1, 233, 250);}
    75%  {background: rgb(0, 255, 213);}
    80%  {background: rgb(1, 233, 250);}
    85%  {background: rgb(0, 255, 213);}
    90% {background: rgb(1, 233, 250);}
    95%  {background: rgb(0, 255, 213);}
    100%  {background: rgb(1, 233, 250);}
  }

  @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
  
  {
    0%  {background: rgb(1, 233, 250);}
    5%  {background: rgb(0, 255, 213);}
    10% {background: rgb(1, 233, 250);}
    15%  {background: rgb(0, 255, 213);}
    20%  {background: rgb(1, 233, 250);}
    25%  {background: rgb(0, 255, 213);}
    30% {background: rgb(1, 233, 250);}
    35%  {background: rgb(0, 255, 213);}
    40%  {background: rgb(1, 233, 250);}
    45%  {background: rgb(0, 255, 213);}
    50% {background: rgb(1, 233, 250);}
    55%  {background: rgb(0, 255, 213);}
    60%  {background: rgb(1, 233, 250);}
    65%  {background: rgb(0, 255, 213);}
    70% {background: rgb(1, 233, 250);}
    75%  {background: rgb(0, 255, 213);}
    80%  {background: rgb(1, 233, 250);}
    85%  {background: rgb(0, 255, 213);}
    90% {background: rgb(1, 233, 250);}
    95%  {background: rgb(0, 255, 213);}
    100%  {background: rgb(1, 233, 250);}
  
}
#logo {
    width: 500px;
    position: fixed;
    top: 0%;
    left: 28%;

   
}

#button-text {
    
}

 #button-1 {
    position: fixed;
    bottom: 160px;
    left: 32%;
    width: 400px;
    border-radius: 7px;
    background-color:#5525f0;
    
    /*
    animation: colorchangeagain 10s; /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
/* -webkit-animation: colorchangeagain 50s; /* Chrome and Safari */      
/*
}

@keyframes colorchangeagain

{
    0%  {background: #5525f0;}
    5%  {background: rgb(1, 179, 250);}
    10% {background: #5525f0;}
    15%  {background: rgb(1, 179, 250);}
    20%  {background: #5525f0;}
    25%  {background: rgb(1, 179, 250);}
    30% {background: #5525f0;}
    35%  {background: rgb(1, 179, 250);}
    40%  {background: #5525f0}
    45%  {background: rgb(1, 179, 250);}
    50% {background: #5525f0;}
    55%  {background: rgb(1, 179, 250);}
    60%  {background: rgb(1, 179, 250);}
    65%  {background: #5525f0;}
    70% {background: rgb(1, 179, 250);}
    75%  {background: rgb(1, 179, 250);}
    80%  {background: #5525f0;}
    85%  {background: rgb(1, 179, 250);}
    90% {background: #5525f0;}
    95%  {background: rgb(1, 179, 250);}
    100%  {background: #5525f0;}
   }

@-webkit-keyframes colorchangeagain /* Safari and Chrome - necessary duplicate */
/*
{
    0%  {background: #5525f0;}
    5%  {background: rgb(1, 179, 250);}
    10% {background: #5525f0;}
    15%  {background: rgb(1, 179, 250);}
    20%  {background: #5525f0;}
    25%  {background: rgb(1, 179, 250);}
    30% {background: #5525f0;}
    35%  {background: rgb(1, 179, 250);}
    40%  {background: #5525f0}
    45%  {background: rgb(1, 179, 250);}
    50% {background: #5525f0;}
    55%  {background: rgb(1, 179, 250);}
    60%  {background: rgb(1, 179, 250);}
    65%  {background: #5525f0;}
    70% {background: rgb(1, 179, 250);}
    75%  {background: rgb(1, 179, 250);}
    80%  {background: #5525f0;}
    85%  {background: rgb(1, 179, 250);}
    90% {background: #5525f0;}
    95%  {background: rgb(1, 179, 250);}
    100%  {background: #5525f0;}
   }
 
*/

 }

 

 #button-1:hover {
     opacity: 0.9;
     -webkit-animation: none;
 }

/*

<!-- Added Materialize -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  



